.darksalmon{
  color:darksalmon
}

.pink{
    color: lightpink
}

.darkgreen{
  color:darkgreen
}

.cc{
    color:cadetblue
}

.indianred{
    color:indianred
}

.experience_education_icon{
    color:coral
}

.experience_education_icon:hover{
    background-color: coral;
    color: aliceblue;
}

*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

body {
    background-color: rgb(255, 246, 255);
    font-family: 'Noto Sans TC', sans-serif;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Serif TC', sans-serif;
    }


    p.redred{
        color: aliceblue;
        background-color: lightpink;
        background-image: url(../assets/img/background.jpeg);
        border: 20px solid;
        border-color: cadetblue;
        font-size: 40px;
        text-align: center;
        font-family: 'Noto Serif TC',sans-serif;
        letter-spacing: 0.8px;
        line-height: 1.5em;
    }