.darksalmon{
  color:darksalmon
}
.ca{
    color: cadetblue
}
.pink{
    color: lightpink
}

.darkgreen{
  color:darkgreen
}

.cc{
    color:cadetblue;
    text-transform: none;
    font-size: 40px;
   
}

.indianred{
    color:indianred
}

.experience_education_icon{
    color:cadetblue
    
}

.experience_education_icon:hover{
    background-color: cadetblue;
    color: aliceblue;
    border-radius: 0.5rem;
    
}

*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

body {
    background-color: rgb(255, 246, 255);
    font-family: 'Noto Sans TC', sans-serif;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Serif TC', sans-serif;
    }


    p.redred{
        color: aliceblue;
        background-color: lightpink;
        background-image: url(../assets/img/background.jpeg);
        border: 20px solid;
        border-color: cadetblue;
        font-size: 40px;
        text-align: center;
        font-family: 'Noto Serif TC',sans-serif;
        letter-spacing: 0.8px;
        line-height: 1.5em;
    }


    table.catherinetable th{
        text-align: center;
        background-color: pink;
        color: black;
        border: 10px solid  cadetblue ;
    }

    table.catherinetable td{
        text-align: center;
        border: 10px solid  plum ;
        color: black;
    }

    table.catherinetable{
        width: 100%;
        background-color: mistyrose;
        border-collapse: separate;
    }

    table.catherinetable tr:nth-child(even){
        background-color: peachpuff;
    }

    table.catherinetable tr:nth-child(odd){
        background-color: lightpink;
    }
     
    .sedan-regular {
        font-family: "Sedan", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .sedan-regular-italic {
        font-family: "Sedan", serif;
        font-weight: 400;
        font-style: italic;
      }
      
    .herodown{
        font-size: 40px;
        color: cadetblue;
    }

    .img-fluid{
        max-width: 80%; 
        height: auto;
    }

   